In [1]:
import pandas as pd
import numpy as np
import xlwings as xw

In [54]:
wb = xw.books.active
wb.name

'애니메이션, 월간추이.xlsx'

In [55]:
ws = wb.sheets
twitter = ws(1)["A1"].expand().value
blog = ws(2)["A1"].expand().value
community = ws(3)["A1"].expand().value

In [56]:
twitter_df = pd.DataFrame(twitter[1:], columns = twitter[0])
blog_df = pd.DataFrame(blog[1:], columns = blog[0])
community_df = pd.DataFrame(blog[1:], columns = community[0])

In [57]:
total_df = pd.concat([twitter_df, blog_df, community_df])
res = total_df.pivot_table(index = '날짜', values = total_df.columns[1:], aggfunc = 'sum')
res

,귀멸의칼날||귀칼,너의이름은,소드아트온라인||소아온,스즈메,슬램덩크,원펀맨,주술회전,진격의거인||진격거,체인소맨,최애의,최애의아이,하이큐,히로아카||히어로아카데미아
날짜,,,,,,,,,,,,,
2014-01-01,0.0,2.0,13748.0,256.0,5842.0,8912.0,0.0,32546.0,0.0,0.0,0.0,12156.0,24.0
2014-02-01,1.0,2.0,6954.0,241.0,5734.0,5572.0,0.0,24538.0,0.0,0.0,0.0,17275.0,53.0
2014-03-01,0.0,2.0,12121.0,225.0,8439.0,5670.0,0.0,17824.0,0.0,0.0,0.0,27831.0,34.0
2014-04-01,0.0,0.0,8221.0,255.0,5111.0,6490.0,0.0,19099.0,0.0,0.0,0.0,55089.0,9.0
2014-05-01,3.0,2.0,15833.0,279.0,6155.0,5818.0,0.0,18817.0,0.0,0.0,0.0,92473.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-01,21003.0,66080.0,1706.0,531262.0,1315675.0,3228.0,61054.0,26812.0,53805.0,0.0,0.0,86960.0,21813.0
2023-04-01,20183.0,38284.0,2036.0,221338.0,768171.0,2907.0,37112.0,17063.0,42630.0,0.0,1.0,60215.0,21604.0
2023-05-01,20105.0,18045.0,2151.0,60268.0,522399.0,4262.0,39841.0,22205.0,40383.0,0.0,2.0,60935.0,18866.0
2023-06-01,20559.0,13146.0,1544.0,28271.0,336785.0,10166.0,35382.0,18625.0,26869.0,0.0,5.0,57607.0,20625.0
2023-07-01,1343.0,2491.0,108.0,1077.0,17348.0,382.0,6965.0,1423.0,1556.0,0.0,2.0,4327.0,1293.0

In [58]:
#쓰기

wb = xw.books.active
wb.name
ws = wb.sheets.active
ws["A1"].value = res